<div class="row">
  <div class="span12">
        <div class="span6">

          <p><font size="20">T</font>he strengths within Belle Isle Studios lies in the collaboration between various wonderfully talented musicians and artists in the UK, Canada and the United States.</p>

          <p>Our producer and sound engineer, David Bower, brings a vast amount of experience, spanning over 30 years in various facets of the music industry.</p>

          <p>David, who was previously managed by L A based Danny O'Donovan, whom worked with and managed such greats in the music industry as Stevie Wonder, Lionel Ritchie, The Jackson's, Tina Turner, Russell Watson to name but a few, and still continues to be a life long friend.</p>

          <p>David's unique talents and professionalism, combined with a long standing bond formed over 20 years ago with Bruce Cookson, an incredible and amazingly talented keyboard and orchestral arranger, have and continue to create magic. After all, what makes a song, lyric, melody and bridge stand out is that special piece of magic.</p>

          <p>Many other musicians, artists and writers have collaborated with David over the years, whom together make wonderful music possible.</p>

        </div>
      <div class="span1">
      </div>
      <div class="span5">
        <%= image_tag("winter.jpg", class: "img-rounded") %>
      </div>
    </div>
  </div>

