<br/>
<div class="row">
  <div class="span12">  
        <div class="span7">

          <p>The strengths with Belle Isle Studios lies in the collaboration between various wonderfully talented musicians and artists in the UK, Canada and the United States.</p>

          <p>Our producer and sound engineer, David Bower, has over thirty years experience in the music industry and has produced and recorded in world renowned studios, including Abbey Road, Rockfield Recording Studios, Kingsway Studios, Morgan Studios and Intermediate Sound in Boston to mention a few.</p>

          <p>A strong bond has been born over 20 years with David and Bruce Cookson, an incredible and amazingly talented keyboard and orchestral arranger, and toghether they continue to create magic.</p>

          <p>Also working along side David for many years are the talents of Joby Baker, Daniel B. Clifford, Rick May and Bob Bellnapp, who have made such wonderful music possible.</p>

        </div>
      <div class="span1">
        <br/>
      </div>
      <div class="span4">
        <%= image_tag("winter.jpg", class: "img-rounded") %>
      </div>
    </div>
  </div>

