<br/>
 <div class="row">
  <div class="span11">
    <div class="span6">
      <p><span class="subHeader">B</span><span>elle Isle Studios is Located  in beautiful tranquil British Columbia, Canada</span></p>

      <p>David William Bower originally from Leeds, Yorkshire in the UK.</p>

      <p>A  singer, songwriter, record producer and vocal coach, who has journeyed, many  years in the music industry including the UK, United  States, Japan and Canada. During which time David spanned many different facets of the music business.</p>

      <p>His  early days were spent performing and recording with various bands in the UK and working along with some of the truly greats of the music industry. Presently as a producer and writer his level  of craftsmanshipand dedication leaves nothing to chance…</p>            

      <p>Under the umbrella of Belle Isle Studios there exists not only a record label but  also a publishing company: </p>
            
      <p>Ex Brit Music Publishing...</p>
    </div>
    <div class="row">
      <div class="span12">
        <div class="span6">
        </div>
      </div>
    </div>
  </div>
</div>
