<br/>
 <div class="row">
  <div class="span12">
    <div class="span6">
        <P class="bodyText" style="text-align: justify;">Please fill out the contact form below. We will contact you as soon as possible.</P>
        <%= simple_form_for @visitor do |f| %>
        <%= f.input :name %>
        <% end %>
