

<br/>
 <div class="row">
  <div class="span12">
    <div class="span11">
      <div>
      <%= link_to image_tag("guitar_sm_2.jpg"), asset_path("guitar_sm_2.jpg"), class: "fancybox"
%>
      <%= link_to image_tag("dbowerbio.jpg"), asset_path("dbowerbio.jpg"), class: "fancybox"
%>
      </div>
    </div>
  </div>
</div>


          
