</table>          </td>
          </tr>
        <tr>
          <td height="2"></td>
          </tr>
      </table></td>
    </tr>
    <tr>
      <td height="19" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="900" height="19" valign="top"><div align="center"><img src="images/bar1.jpg" width="896" height="19" /></div></td>
          </tr>
            </table></td>
    </tr>
    
    <tr>
      <td height="17" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
              <td width="900" height="19" valign="top"><div align="center"><img src="images/line_red.jpg" width="896" height="19" /></div></td>
          </tr>
            </table> <table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
              <td width="19" height="20">&nbsp;</td>
                <td width="881" valign="top"><div align="left">
                  
                  <p class="pageName">Belle Isle Recording Studios - Contact</p>
                 
              </div></td>
              </tr>
            </table><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
              <td width="900" height="19" valign="top"><div align="center"><img src="images/line_gold_1.jpg" width="890" height="1" /></div></td>
            </tr>
           
          </table> <table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
          <td width="448" height="232" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
              <td width="448" height="34" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
                  <td width="448" height="34" valign="bottom"><div align="center"><img src="images/line_gold_1.jpg" width="350" height="1" /></div></td>
                      </tr>
                
                </table></td>
                </tr>
            
            <tr>
              <td height="164" valign="middle"><p align="center" class="bodyText"><u>Belle Isle Recording Studio <br />
                
                </u></p>
                    <p align="center" class="bodyText"> 1-250-888-2388</p>                
                    <div align="center"><a href="mailto:david@exbritmusic.com" class="bodyText">david@exbritmusic.com</a><br />
                  www.bellislestudios.com </div></td>
                </tr>
            
            <tr>
              <td height="34" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
                  <td width="448" height="34" valign="top"><div align="center"><img src="images/line_gold_1.jpg" width="350" height="1" /></div></td>
                      </tr>
                
                </table></td>
                </tr>
            
            </table></td>
            <td width="452" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
                <td width="452" height="232" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
              </tr>
            </table>            </td>
          </tr>
        
      </table>    </td>
    </tr>
    <tr>
      <td height="161">&nbsp;</td>
    </tr>
    <tr>
      <td height="140" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
        <!--DWLayoutTable-->
        <tr>
          <td width="900" height="140" valign="top"><img src="images/btm.jpg" alt=" Belle Isle Recording Studio" width="900" height="140" /></td>
          </tr>
      </table></td>
    </tr>
    <tr>
      <td height="109" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <!--DWLayoutTable-->
                <tr>
                  <td width="900" height="19" valign="top"><div align="center"><img src="images/bar1.jpg" width="896" height="19" /></div></td>
              </tr>
                
                <tr>
                  <td height="43" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="900" height="19" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="900" height="19" valign="top"><div align="center"><img src="images/line_red.jpg" width="896" height="19" /></div></td>
                          </tr>
                        </table></td>
                    </tr>
                    
                    <tr>
                      <td height="24" valign="middle" class="bodyText">
                        <div align="center"><a href="index.htm">Home</a> l <a href="DavidBowerBio.htm">Biography </a>l <a href="studio.htm">Studio</a> l <a href="Instruments.htm">Instruments</a> l <a href="gear.htm">Gear</a> l <a href="contact.htm">Contact</a> l <a href="jade.htm">Jade</a> l <a href="DWB.htm">DWB </a>l <a href="musicians.htm">Musicians </a>l <a href="vocalcoaching.htm">Vocal Coaching</a> l <a href="workshops.htm">Workshops</a> l <a href="retreat.htm">Retreat </a>I <a href="studiomascots.htm">Studio Mascots</a></div>
                      </td>
                    </tr>
                    </table></td>
              </tr>
                <tr>
                  <td height="47" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="901" height="18" valign="top" class="bodyText"><div align="center">Copyright &copy; Belle Isle Studios</div></td>
                    </tr>
                    <tr>
                      <td height="29" valign="middle"><div align="center"><img src="images/line_gold_1.jpg" width="900" height="1" /></div></td>
                    </tr>
                    </table></td>
              </tr>
                
                
                </table></td>
    </tr>
    <tr>
      <td height="114">&nbsp;</td>
    </tr>
  </table>
