</table></td>
            <td width="444" height="302" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
                  <td width="444" height="89" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="444" height="89" valign="middle"><img src="images/DWB/David-_name.jpg" width="444" height="55" /></td>
                      </tr>
                  </table>                </td>
                </tr>
                
                <tr>
                  <td height="168" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
                      <td width="138" rowspan="8" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
                          <td width="138" height="168">&nbsp;</td>
                        </tr>
                      </table>                      </td>
                        <td width="147" height="24">&nbsp;</td>
                        <td width="159" rowspan="8" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
                            <td width="159" height="168">&nbsp;</td>
                          </tr>
                        </table>                        </td>
                      </tr>
                    <tr>
                      <td height="24" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
                          <td width="148" height="24" valign="bottom" class="bodyText"><div align="center"><u>Music</u></div></td>
                            </tr>
                      </table></td>
                      </tr>
                    <tr>
                      <td height="24">&nbsp;</td>
                    </tr>
                    
                    
                    <tr>
                      <td height="19" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
                              <td width="148" height="19" valign="bottom" class="bodyText"><div align="center"><a href="images/DWB/David - Baby Just Go.mp3" target="_blank">Baby Just Go</a></div></td>
                            </tr>
                        </table></td>
                      </tr>
                    
                    <tr>
                      <td height="19" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
                              <td width="148" height="19" valign="bottom" class="bodyText"><div align="center"><a href="images/DWB/David - Never Loved You At All.mp3" target="_blank">I Never Loved You At All</a></div></td>
                            </tr>
                        </table></td>
                      </tr>
                    
                    <tr>
                      <td height="20" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
                              <td width="147" height="20" valign="top" class="bodyText"><center>
                                
                                <a href="images/DWB/David - Intermission.mp3" target="_blank">Intermission                                </a>
                              </center></td>
                            </tr>
                        </table></td>
                      </tr>
                    
                    <tr>
                      <td height="38" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
                              <td width="147" height="19" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
                                  <td width="147" height="19" valign="top" class="bodyText"><center>
                                    
                                    <a href="images/DWB/David - Soldiers Lament.mp3" target="_blank">Soldier's Lament </a>
                                  </center></td>
                                  </tr>
                              </table></td>
                            </tr>
                            
                            <tr>
                              <td height="19" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
                                  <td width="147" height="19" valign="top" class="bodyText">&nbsp;</td>
                                  </tr>
                              </table></td>
                            </tr>
                        </table></td>
                      </tr>
                   
                    
                    
                    
                  </table></td>
                </tr>
                
                
                <tr>
                  <td height="45" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
                        <td width="444" height="45" valign="middle"><center>
                          <a href="images/DWB/SOLDIERS_LAMENT_LYRICS.pdf" target="_blank" class="bodyText">Download the lyrics for Soldier's Lament here.                         </a>
                        </center></td>
                      </tr>
                    
                    
                    
                    
                  </table></td>
                </tr>
                
                
                
                
                
                
                
                
                
                
            </table></td>
          </tr>
        <tr>
          <td height="211" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
              <td width="444" height="211" valign="top"><center>
                <span class="bodyText">Please check back for updates on DWB</span><br />
              </center></td>
                </tr>
            
          </table></td>
          </tr>
        
        
        <tr>
          <td height="140" colspan="2" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
              <td width="900" height="140" valign="top"><img src="images/btm.jpg" alt="Belle Isle Recording Studio" width="900" height="140" /></td>
                </tr>
            </table></td>
          </tr>
        
        
        
        
        
        
        

        
  </table></td>
    </tr>
    <tr>
      <td height="109" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <!--DWLayoutTable-->
                <tr>
                  <td width="900" height="19" valign="top"><div align="center"><img src="images/bar1.jpg" width="896" height="19" /></div></td>
              </tr>
                
                <tr>
                  <td height="43" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="900" height="19" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="900" height="19" valign="top"><div align="center"><img src="images/line_red.jpg" width="896" height="19" /></div></td>
                          </tr>
                        </table></td>
                    </tr>
                    
                    <tr>
                      <td height="24" valign="middle" class="bodyText"><div align="center"><a href="index.htm">Home</a> l <a href="DavidBowerBio.htm">Biography </a>l <a href="studio.htm">Studio</a> l <a href="Instruments.htm">Instruments</a> l <a href="gear.htm">Gear</a> l <a href="contact.htm">Contact</a> l <a href="jade.htm">Jade</a> l <a href="noajules.htm">NoaJules</a> l <a href="Sachika.htm">Sachika</a> l <a href="DWB.htm">DWB </a>l <a href="musicians.htm">Musicians </a>l <a href="vocalcoaching.htm">Vocal Coaching</a> l <a href="workshops.htm">Workshops</a> l <a href="retreat.htm">Retreat </a>I <a href="studiomascots.htm">Studio Mascots</a></div></td>
                    </tr>
                    </table></td>
              </tr>
                <tr>
                  <td height="47" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="901" height="18" valign="top" class="bodyText"><div align="center">Copyright &copy; Belle Isle Studios</div></td>
                    </tr>
                    <tr>
                      <td height="29" valign="middle"><div align="center"><img src="images/line_gold_1.jpg" width="900" height="1" /></div></td>
                    </tr>
                    </table></td>
              </tr>
                
                
                </table></td>
    </tr>
  </table>
</div>
