<br/>
 <div class="row">
  <div class="span12">
    <div class="span3">
      <div id="myCarousel" class="carousel">
        <div class="carousel-inner">
            <div class="item active"><%= image_tag("2129957.jpg", class: "img-rounded") %></div>
            
          </div>

          <script type="text/javascript">
            $(document).ready(function() {
              $('.carousel').carousel({
                interval:4000
              });
            });
          </script>

          <div>          
        </div>
      </div>      
    </div>
    
    <div>
      <p></p>
      <div class ="span4" class="panel-group" id="accordion">
        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">         
              <span>Biography</span>        
              </a>
            </h4>
           </div>
          <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
        <p>David William Bower originating from Leeds, Yorkshire in the UK.
        </p>

        <p>A singer, songwriter, record producer and vocal coach, who has journeyed, many years in the music industry including the UK, United  States, Japan and Canada. During which time David spanned many different facets of the music business.</p>

      <p>His early days were spent performing and recording with various bands in the UK and working along with some of the truly greats of the music industry. Presently as a producer and writer his level of craftsmanship and dedication leaves nothing to chance.</p>

      </div>
    </div>
  </div>
</div>
</div>
  <div class ="span4" class="panel-group" id="accordion">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <span>Discography</span> 
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body">
        
          <div class="thumbnail">
          <strong>Baby Just Go</strong>
            <div class="pull-right">
          <button type="button" class="btn btn-mini"><i class="icon-play pull-right"></i></button>
        </div>
        </div>
        <div class="thumbnail">
          <strong>I Never Loved You At All</strong>
          <div class="pull-right">
          <button type="button" class="btn btn-mini"><i class="icon-play pull-right"></i></button>
        </div>
        </div>
         <div class="thumbnail">
          <strong>Throw Me A Line</strong>
          <div class="pull-right">
          <button type="button" class="btn btn-mini"><i class="icon-play pull-right"></i></button>
        </div>
          </div>
           <div class="thumbnail">
          <strong>Soldier's Lament</strong>
            <div class="pull-right">
          <button type="button" class="btn btn-mini"><i class="icon-play pull-right"></i></button>
        </div>
          </div>
           <div class="thumbnail">
          <strong>Intermission</strong>
          <div class="pull-right">
          <button type="button" class="btn btn-mini"><i class="icon-play pull-right"></i></button>
        </div>
          </div>
      </div>
    </div>
  </div>
