<script src="/audiojs/audio.min.js"></script>

<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>

<br/>
 <div class="row">
  <div class="span12">
    <div class="span2">
      <div id="myCarousel" class="carousel">
        <div class="carousel-inner">
            <div class="item active"><%= image_tag("2129957.jpg", class: "img-rounded") %></div>
            
          </div>

          <div>          
        </div>
      </div>      
    </div>
    
    <div>
      <p></p>
      <div class ="span6" class="panel-group" id="accordion">
        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">         
              <h3>Biography</h3>        
              </a>
            </h4>
           </div>
          <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
        <p>David W. Bower, originating from Leeds in the UK.</p>

        <p>A singer, songwriter, record producer and vocal coach, who has journeyed many years in the music industry, including the UK, United States, Japan and Canada, during which time David spanned many different facets of the music business.</p>

        <p>His early days were spent performing and recording with various bands in the UK under the production wing of Micky Most, working along side some of the true greats of the music industry in the prestigious Abbey Road Studios.  </p>

        <p>Later in his career, under the guidance of Danny O'Donavon, who managed the timeless acts of Frank Sinatra, Michael Jackson and Stevie Wonder, David has flourished into a producer and writer, whose level of craftsmanship and dedication leaves nothing to chance.</p>

        <p>David plays numerous instruments. As a singer, song writer and producer, his experience in all of these areas gives him a unique perspective on the inner workings of the studio as well as the needs of the artist. </p>

      </div>
    </div>
  </div>
</div>
</div>
<div class ="span3" class="panel-group" id="accordion">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <h3>Discography</h3> 
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body">
        
          <div>
            <strong>Baby Just Go</strong>
          <p><audio src="/music/Baby Just Go.mp3" preload="auto" width="50" /></p>
        </div>
        

        <div>
          <strong>Throw Me A Line</strong>
         <p><audio src="/music/David Throw Me A Line.mp3" preload="auto" width="50" /></p>
        </div>
        

         <div>
          <strong>Intermission</strong>
          <p><audio src="/music/Intermission.mp3" preload="auto" width="50" /></p>
          </div>
          

           <div>
          <strong>Soldier's Lament</strong>
          <p><audio src="/music/Soldier's Lament.mp3" preload="auto" width="50" /></p>
        </div>

           <div>
          <strong>I Never Loved You At All</strong>
          <p><audio src="/music/I never Loved You At All.mp3" preload="auto" width="50" /></p>
          </div>
      </div>
    </div>
  </div>