<div class="row">
  <div class="span12">
      <p>ex<font size="20">B</font>elle Isle Music Publishing is positioned under the umbrella of Belle Isle Studios. David W. Bower has worked with numerous artists as a songwriter and vocal coach.</p>
    </div>
  </div>
  <br>
  <br>
<div class="row">
    <div class="span12">
      <div class="span1">
        </div>
        <div class="span3">
            <p><font size="20">D</font>avid W. Bower.</p>
            <div>
            <strong>The Right One</strong>
          <p><audio src="/music/The Right One - David.mp3" preload="auto" width="50" /></p>
        </div>
    </div>
        <div class="span0">
        </div>
        <div class="span3">
            <p><font size="20">S</font>tephanie Greaves</p>
            <div>
            <strong>The Right One</strong>
          <p><audio src="/music/The Right One - Stephanie.mp3" preload="auto" width="50" /></p>
        </div>
        <div>
            <strong>Even If I Let You Go</strong>
          <p><audio src="/music/Even If I Let You Go - Stephanie.mp3" preload="auto" width="50" /></p>
        </div>
    </div>
    <div class="span0">
        </div>
        <div class="span3">
            <p><font size="20">D</font>bClifford</p>
            <div>
            <strong>Even If I Let You Go</strong>
          <p><audio src="/music/Even If I Let You Go - Daniel B. Clifford.mp3" preload="auto" width="50" /></p>
        </div>
    </div>
    <div class="row">
    <div class="span12">
      <br>
      <br>
      <div class="span1">
        </div>
        <div class="span3">
            <p><font size="20">N</font>oa & Julian</p>
            <div>
            <strong>Solitaire</strong>
          <p><audio src="/music/Solitaire - Noa and Julian.mp3" preload="auto" width="50" /></p>
          <p class="tiny-lyrics">Spanish lyrics by Noa Southcott</p>
        </div>
        <div>
            <strong>I Got U Babe</strong>
          <p><audio src="/music/I Got U Babe - Noa and Julian.mp3" preload="auto" width="50" /></p>
        </div>
        <div>
            <strong>Hasting Street</strong>
          <p><audio src="/music/Hasting Street - Noa and Julian.mp3" preload="auto" width="50" /></p>
        </div>
        <div>
            <strong>Game Of Life</strong>
          <p><audio src="/music/Game of Life - Noa and Julian.mp3" preload="auto" width="50" /></p>
        </div>
        <div>
            <strong>No Time</strong>
          <p><audio src="/music/No Time - Noa and Julian.mp3" preload="auto" width="50" /></p>
        </div>
    </div>
        <div class="span0">
        </div>
        <div class="span5">
          <br>
          <br>
          <div>
          <iframe width="500" height="275" src="http://www.youtube.com/embed/PZxVeD8XosE" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="span0">
        </div>
    </div>
</div>
</div>
<br>
<br>
<p class="footer"><strong>Original songs never released and available</strong></p>

<script src="/audiojs/audio.min.js"></script>

<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>
