<br/>
<div class="row">
  <div class="span12">
    <div class="span7">
      <p>Belle Isle Recording Studios is equipped with a Pro Tools HD 8.0 System</p>

      <p>The system is supplied and serviced by Bryan Low of ANNEX PRO located in Vancouver, British Columbia.</p>

      <p>All software is legitimate.</p>

      <p> ANNEX PRO is a premier top flight company that sets up and supplies all of the professional recording studios on the West Coast of Canada.</p>
    </div>
  </div>
</div>
<br>
  <div class="row">
    <div class="span12">
      <div class="span5">
        <p>Sound Mixing Equipment</p>
        <ul>
          <li>Control 24 desk, 24 pre amp inputs x </li>
          <li>Ad convertar 16 inputs 192 x 1</li>
          <li>Quarter ins plus XLR patch bay</li>
        </ul>
      </div>
      <div class="span4">
      <p>Speakers</p>
        <ul>
          <li>V4 speakers</li>
          <li>Dynaudio acoustic speakers front ported</li>
          <li>Yamaha NS 10 speakers</li>
      </div>

      <div class="row">
        <div class="span12">
          <div class="span5">
            <p>Amplifiers</p>
              <ul>
                <li>Yamaha power amp p2500s x 1</li>
                <li>Universal audio 6176 tube pre amp limiter compressor x 2</li>
                <li>Roland Fantom Rack XR X1</li>
                <li>Line 6</li>
                <li>Fender de lux</li>
                <li>Mellennia HVD3 pre amp 8 inputs x1</li>
                <li>Korg triton rack x 1</li>
                <li>Electrex MO FX X1</li>
        </ul>
      </div>
      <div class="span4">
      <p>Microphones</p>
        <ul>
          <li>Wagner u47 with tube pre amp</li>
          <li>Neumann tlm 103</li>
          <li>Electro voice re 20</li>
          <li>Sm57 x 3</li>
          <li>Apex 210 ribbon</li>
          <li>Akg D112</li>
          <li>Rode NT5 x 2</li>
          <li>B1 x2</li>
      </div>
      <div class="row">
    <div class="span12">
      <div class="span5">
        <p>Installed Software</p>
        <ul>
          <li>Mini Moog</li>
          <li>Motu Symphonic</li>
          <li>Stylus RMX</li>
          <li>Sound replacer</li>
          <li>Waves</li>
          <li>Melodyne auto tune</li>
          <li>Oxford Sony EQ</li>
          <li>Bomb factory</li>
          <li>Tl space reverb</li>
          <li>Pitch shift</li>
          <li>True Verb</li>
          <li>Sure tap 2 & 6</li>
          <li>Enigma</li>
          <li>Funk logic</li>
          <li>Time compression</li>
          <li>De Esser</li>
          <li>Vienna String</li>
         
        </ul>
      </div>
      <div class="span4">
      <p>Installed Software</p>
        <ul>
          <li>Organ B4 11</li>
          <li>Soft sample cell</li>
          <li>Sample tank 2Ll</li>
          <li>Atmosphere</li>
          <li>Antares auto tune</li>
          <li>Sample tank VST mas</li>
          <li>Filter bank eq</li>
          <li>Toast</li>
          <li>MDN parametric EQ</li>
          <li>D verb</li>
          <li>Multi tap delay</li>
          <li>Tel ray delay</li>
          <li>Chorus</li>
          <li>Harmonic lo fi hi fi</li>
          <li>Multitude of compressors</li>
          <li>Lexicon Reverb</li>
          <li>Omnisphere</li>
          <li>Drummergog</li>
      </div>
    </div>            
</div>
</div>
                  
