<div class="row">
  <div class="span12">
        <div class="span10">

          <p>Nestled high on a bank in two acres of woodland, Belle Isle Recording Studios offers complete privacy and anonymity. The scenery here is spectacular. Relax and enjoy unparalleled ocean views as eagles soar  overhead. Located just twenty minutes outside of beautiful Victoria, Belle Isle is close to all amenities, including two international airports.</p>
        </div>

        <div class="span10">
          <%= image_tag("StudioPanoramic.jpeg", class: "img-rounded") %>
        </div>
        </div>

          <div class="span12">
            <div class="span10">
            <br>

            <p>Belle Isle is a truly inspirational and unique sanctuary; a fantastic place to escape and engage your mind. Whether you are looking to write, attend a vocal coaching workshop or cut your new master,  Belle Isle offers the perfect setting.</p>

            <p>Equipped with <b>"Pro Tools HD 9.0 System"</b>, Belle Isle Recording Studios provides state of the art recording instruments and studio equipment.</p>

            <p>Our producer and sound engineer, David Bower, has over thirty years experience in the music industry and has produced and recorded in world renowned studios, including Abbey Road, Rockfield Recording Studios, Kingsway Studios, Morgan Studios and Intermediate Sound in Boston to mention a few.</p>
        </div>
      </div>
  </div>













