<br/>
<div class="row">
  <div class="span12">  
        <div class="span6">
          <p><span class="subHeader">W</span><span class="midText">elcome to Belle Isle Recording Studios, British Columbia’s only waterfront recording studio</span></p>

          <p class="bodyText" style="text-align: justify;">Nestled in the trees on two acres of fenced high bank oceanfront, Belle Isle Recording Studios offers complete privacy and anonymity. The scenery here is spectacular; relax and enjoy unequalled ocean views as  Eagles soar  overhead. Located just twenty minutes outside  of beautiful Victoria, British Columbia on Vancouver Island, Belle Isle is close to all amenities and travel including two international airports.</p>

          <p class="bodyText" style="text-align: justify;">Belle Isle is truly inspirational and unique; a fantastic place to escape and engage your mind. Whether you are looking to retreat and write, attend a vocal coaching workshop or cut your new master;  Belle Isle is up to the task.</p>

          <p class="bodyText" style="text-align: justify;">Equipped with <strong>"Pro Tools HD 8.0 System"</strong> Belle Isle Recording Studios offers top quality recording gear, instruments and studio equipment. Our Producer/Sound Engineer David Bower has over thirty years  experience in the music industry and has produced and recorded in studios including Rockfield Recording Studios in Wales, Kingsway Studios in London, Abbey Road Studios in London, Morgan Studios in London and Intermediate Sound  in Boston to mention a few.</p>

          <p class="bodyText" style="text-align: justify;">David plays numerous instruments; he is a song writer and producer as well as singer. His experience in all of these areas gives him a  unique perspective on both the inner workings of the studio as well as the   needs of the artist. </p>
          <p class="bodyText" style="text-align: justify;">If you have any questions please contact David directly to discuss your next project. </p>
        </div>
      <div class="span5">
        <%= image_tag("summer.jpg") %>
      </div>
      <div class="span1">
        <br/>
      </div>
      <div class="span5">
        <%= image_tag("winter.jpg") %>
      </div>
    </div>
  </div>






 
      
      
        
        
        
                    
