<br/>
 <div class="row">
  <div class="span12">
    <div class="span11">
      <p><span class="subHeader">B</span><span class="midText">elle Isle Studios would like to recognize what a truly wonderful gift an animal is and how much richness they bring to our lives. 

      <p class="bodyText" style="text-align: justify;">We would like to help the organization ASPCA by donating 1% of all royalties from Belle Isle Studios Label. </span></p>
      <br>
    </div>
  </div>
</div>
 <div class="row">
  <div class="span12">
    <div class="span5">
      <%= image_tag("Gilbert-4.JPG") %>
      <br>
    </div>
    <div class="span1">
      
    </div>
    <div class="span5" >
      <%= image_tag("mildred.jpg") %>
      <br>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="span12">
    <div class="span5">
      <center><p class="midText">"Gilbert" (Past)</p></center>
    </div>
    <div class="span1">
     <br> 
    </div>
    <div class="span5">
      <center><p class="midText">"Mildred" (Present)</p></center>
    </div>
  </div>
</div>


