</table>      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td height="211" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
        <!--DWLayoutTable-->
        <tr>
          <td width="300" height="210" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
            <!--DWLayoutTable-->
            <tr>
              <td width="300" height="44" valign="middle"><div align="center" class="calendarText"><u>Guitar </u></div></td>
                </tr>
            <tr>
              <td height="166" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <!--DWLayoutTable-->
                <tr>
                  <td width="300" height="27" valign="middle" class="bodyText"><div align="center">Bob  Belnapp</div></td>
                      </tr>
                <tr>
                  <td height="27" valign="middle" class="bodyText"><div align="center">Blair Mulhall </div></td>
                      </tr>
                <tr>
                  <td height="41" valign="middle"><img src="images/line_red.jpg" width="300" height="19" /></td>
                      </tr>
                <tr>
                  <td height="44" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <!--DWLayoutTable-->
                    <tr>
                      <td width="300" height="44" valign="middle" class="calendarText"><div align="center"><u>Drums</u></div></td>
                            </tr>
                    </table></td>
                      </tr>
                <tr>
                  <td height="27" valign="middle" class="bodyText"><div align="center">Jamie Troy</div></td>
                      </tr>
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                  </table></td>
                </tr>
            
            
            </table></td>
            <td width="300" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <!--DWLayoutTable-->
              <tr>
                <td width="300" height="44" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <!--DWLayoutTable-->
                  <tr>
                    <td width="300" height="44" valign="middle" class="calendarText"><div align="center"><u>Vocals</u></div></td>
                      </tr>
                  
                  
                  </table></td>
                </tr>
              <tr>
                <td height="27" valign="middle" class="bodyText"><div align="center">Bob  Belnapp</div></td>
                </tr>
              <tr>
                <td height="27" valign="middle" class="bodyText"><div align="center">David Bower </div></td>
                </tr>
              <tr>
                <td height="41" valign="middle"><img src="images/line_red.jpg" width="300" height="19" /></td>
                </tr>
              <tr>
                <td height="44" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <!--DWLayoutTable-->
                  <tr>
                    <td width="300" height="44" valign="middle" class="calendarText"><div align="center"><u>Bass</u></div></td>
                      </tr>
                  </table></td>
                </tr>
              <tr>
                <td height="27" valign="middle" class="bodyText"><div align="center">Rick May</div></td>
                </tr>
              
              
              
              
              
              
              
              
            </table></td>
            <td width="300" rowspan="2" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <!--DWLayoutTable-->
              <tr>
                <td width="300" height="44" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <!--DWLayoutTable-->
                  <tr>
                    <td width="300" height="44" valign="middle"><div align="center" class="calendarText"><u>Keyboards</u></div></td>
                      </tr>
                  <tr>
                    <td height="1"></td>
                      </tr>
                  </table></td>
                </tr>
              <tr>
                <td height="27" valign="middle" class="bodyText"><div align="center">Bruce Cookson </div></td>
                </tr>
              <tr>
                <td height="26" valign="middle" class="logo"><div align="center">empty</div></td>
                </tr>
              <tr>
                <td height="41" valign="middle"><img src="images/line_red.jpg" width="300" height="19" /></td>
              </tr>
              <tr>
                <td height="1"></td>
              </tr>
              
              
              
              
              
              <tr>
                <td height="44" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <!--DWLayoutTable-->
                  <tr>
                    <td width="300" height="44" valign="middle"><div align="center"><span class="calendarText"><u>String Arrangements </u></span><br />
                      </div></td>
                    </tr>
                  </table>              </td>
                </tr>
              <tr>
                <td height="27" valign="middle" class="bodyText"><div align="center">Bruce Cookson </div></td>
                </tr>
              
              
              
              
              
              
              
              
            </table></td>
          </tr>
        <tr>
          <td height="1"></td>
            <td></td>
          </tr>
        
      </table></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td height="103" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
        <!--DWLayoutTable-->
        <tr>
          <td width="900" height="103">&nbsp;</td>
          </tr>
      </table></td>
    <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td height="140" colspan="3" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <!--DWLayoutTable-->
          <tr>
            <td width="901" height="140" valign="top"><img src="images/btm.jpg" alt="Belle isle Belle Isle Recording Studio" width="900" height="140" /></td>
              <td width="4"></td>
          </tr>
      </table></td>
    </tr>
    <tr>
      <td height="109" colspan="2" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <!--DWLayoutTable-->
                <tr>
                  <td width="900" height="19" valign="top"><div align="center"><img src="images/bar1.jpg" width="896" height="19" /></div></td>
              </tr>
                
                <tr>
                  <td height="43" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="900" height="19" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="900" height="19" valign="top"><div align="center"><img src="images/line_red.jpg" width="896" height="19" /></div></td>
                          </tr>
                        </table></td>
                    </tr>
                    
                    <tr>
                      <td height="24" valign="middle" class="bodyText">
                        <div align="center"><a href="index.htm">Home</a> l <a href="DavidBowerBio.htm">Biography </a>l <a href="studio.htm">Studio</a> l <a href="Instruments.htm">Instruments</a> l <a href="gear.htm">Gear</a> l <a href="contact.htm">Contact</a> l <a href="jade.htm">Jade</a> l <a href="noajules.htm"> </a> <a href="DWB.htm">DWB </a>l <a href="musicians.htm">Musicians </a>l <a href="vocalcoaching.htm">Vocal Coaching</a> l <a href="workshops.htm">Workshops</a> l <a href="retreat.htm">Retreat </a>I <a href="studiomascots.htm">Studio Mascots</a></div>
                      </td>
                    </tr>
                    </table></td>
              </tr>
                <tr>
                  <td height="47" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="901" height="18" valign="top" class="bodyText"><div align="center">Copyright &copy; Belle Isle Studios</div></td>
                    </tr>
                    <tr>
                      <td height="29" valign="middle"><div align="center"><img src="images/line_gold_1.jpg" width="900" height="1" /></div></td>
                    </tr>
                    </table></td>
              </tr>
                
                
                </table></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td height="60"></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
