</table><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
              <td width="900" height="19" valign="top"><div align="center"><img src="images/line_gold_1.jpg" width="896" height="1" /></div></td>
            </tr>
           
          </table>     </td>
    </tr>
    <tr>
      <td height="534" valign="top"><div align="center"><br />
          <br />
        <br />
      </div>
<table width="100%" border="0">
                      <tr>
                        <td width="1%">&nbsp;</td>
                        <td width="99%" valign="bottom"><!-- START EMBED CODE -->

<script type="text/javascript" src="http://belleisle.slideshowpro.com/m/embed.js"></script>

<div id="album-187097">

</div>

<div align="center">
  <script type="text/javascript">
  SlideShowPro({
    attributes: {
      id: "album-187097",
      width: 640,
      height: 480
    },
    mobile: {
      auto: false
    },
    params: {
      bgcolor: "#000000",
      allowfullscreen: true
    },
    flashvars: {
      xmlFilePath: "http://belleisle.slideshowpro.com/images.php?album=187097"
    }
  });
</script>
  
  <!-- END EMBED CODE -->
  <br />
  <br />
  <br />
  <span class="bodyText">A photo slide show will   begin automatically above. Enjoy!</span> <br />
  <br />
  <br />
</div>
<div align="center">
  <table width="86%" border="1" cellpadding="8" cellspacing="0" bordercolor="#EEC859" bgcolor="#000000">
    <tr>
      <td width="17%" height="26"><div align="center" class="style9 style28 style2 style66 style16">
        <div align="left"><em><span class="style19"><span class="bodyText">Bedrooms: 5</span></span></em></div>
                                  </div>
                        <div align="center" class="style5 style19 style28 style2 style66 style16"></div></td>
                    <td width="16%"><div align="center" class="style5 style19 style28 style2 style66 style16">
                          <center>
                            <em><span class="bodyText">Sleeps:10</span></em>
                          </center>
                    </div></td>
                    <td width="15%"><div align="center" class="style5 style19 style28 style2 style66 style16">
                          <center>
                            <span class="bodyText"><em>Bathrooms:</em></span><em><span class="bodyText"> 3</span></em>
                          </center>
                    </div></td>
                    <td colspan="2"><div align="center" class="style5 style19 style28 style2 style66 style16">
                          <div align="left"><em><span class="bodyText">Location: Victoria, Vancouver Island,, Britsh Columbia</span></em></div>
                    </div></td>
                              </tr>
    <tr>
      <td height="27" colspan="3"><div align="center" class="style5 style19 style28 style2 style66 style16">
        <div align="left"></div>
                    </div></td>
                    <td width="39%"><div align="center" class="style5 style19 style28 style2 style66 style16">
                          <div align="left" class="bodyText">Setting: Quiet residential steps to the ocean</div>
                    </div></td>
                    <td width="13%"><center>
                          <em><u><a href="mailto:info@vacationpro.ca?subject=Belle Isle Retreat" class="style44">INQUIRE</a></u></em>
                    </center></td>
                              </tr>
    <tr>
      <td height="27" colspan="5"><div align="left" class="style86">
        <center>
          <span class="bodyText">Amenities: Two minute walk to beach, Jacuzzi Tub, Sun Deck, Pets Considered, Internet Access, Big Screen TV</span>
          </center>
                    </div></td>
                              </tr>
  </table>
  <br />
    </center>
</div>
<hr width="86%" color="#EEC859" />
                          <br />
                          <table width="86%" border="0" align="center">
                            <tr>
                              <td><div align="left" class="bodyText">
                                <center>
                                This comfortable home is an ideal spot for family and friends. Just a 2 minute walk to   sandy beaches, this home has 5 bedrooms, 2   kitchens, 2 living rooms and a private backyard with beautiful gardens. The   spacious living room is bright with beautiful leaded glass windows that look   out over the gardens. When the day is done; kick back and relax in the Jacuzzi tub after a busy day of writing, rehearsing and recording.
                                </center>
                              </div></td>
                            </tr>
                          </table>
                          <br />
                        <hr width="86%" color="#EEC859" /></td>
                      </tr>
      </table></td>
    </tr>
    <tr>
      <td height="140" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
    <td width="901" height="140" valign="top"><img src="images/btm.jpg" alt="Belle Isle Recording Studio" width="900" height="140" /></td>
          </tr>
          </table></td>
    </tr>
    <tr>
      <td height="109" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <!--DWLayoutTable-->
                <tr>
                  <td width="900" height="19" valign="top"><div align="center"><img src="images/bar1.jpg" width="896" height="19" /></div></td>
              </tr>
                
                <tr>
                  <td height="43" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="900" height="19" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="900" height="19" valign="top"><div align="center"><img src="images/line_red.jpg" width="896" height="19" /></div></td>
                          </tr>
                        </table></td>
                    </tr>
                    
                    <tr>
                      <td height="24" valign="middle" class="bodyText">
                        <div align="center"><a href="index.htm">Home</a> l <a href="DavidBowerBio.htm">Biography </a>l <a href="studio.htm">Studio</a> l <a href="Instruments.htm">Instruments</a> l <a href="gear.htm">Gear</a> l <a href="contact.htm">Contact</a> l <a href="jade.htm">Jade</a> l <a href="DWB.htm">DWB </a>l <a href="musicians.htm">Musicians </a>l <a href="vocalcoaching.htm">Vocal Coaching</a> l <a href="workshops.htm">Workshops</a> l <a href="retreat.htm">Retreat </a>I <a href="studiomascots.htm">Studio Mascots</a></div>
                      </td>
                    </tr>
                    </table></td>
              </tr>
                <tr>
                  <td height="47" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="901" height="18" valign="top" class="bodyText"><div align="center">Copyright &copy; Belle Isle Studios</div></td>
                    </tr>
                    <tr>
                      <td height="29" valign="middle"><div align="center"><img src="images/line_gold_1.jpg" width="900" height="1" /></div></td>
                    </tr>
                    </table></td>
              </tr>
                
                
                </table></td>
    </tr>
  </table>
</div>
