<script src="/audiojs/audio.min.js"></script>

<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>

<p><audio src="/music/02 Victim Of Love.mp3" preload="auto" /></p>

<p><audio src="/music/03 Lay Me Down.mp3" preload="auto" /></p>

<div class="input-append">
  <input class="span2" id="appendedDropdownButton" type="text">
  Test
  <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      Action
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">I live in a treehouse</a></li>
      <li>Please do not leave with neighbor!</l>
    </ul>
  </div>
</div>