<div class="row">
  <div class="span12">
    <div class="span2">
      <div id="myCarousel" class="carousel">
        <div class="carousel-inner">
            <div class="item active"><%= image_tag("valann.jpg", class: "img-rounded") %></div>
          </div>

          <script type="text/javascript">
            $(document).ready(function() {
              $('.carousel').carousel({
                interval:4000
              });
            });
          </script>

          <div>
        </div>
      </div>
    </div>

    <div>
      <div class ="span6" class="panel-group" id="accordion">
        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <h4><i class="icon-book icon-2x"></i> - Biography</h4>
              </a>
            </h4>
           </div>
         </br>
          <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
        <p>Valann has true potential. Musically trained since the age of seven, Valann's favored instrument is the piano.  Her voice, however, is her true charm. With a sopranic range equally as varied as the Rockies, Valann is on her way to becoming just as memorable.</p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="span1">
  </div>
  <div class ="span3" class="panel-group" id="accordion">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <h4><i class="icon-bullseye icon-2x"></i> - Discography</h4>
        </a>
      </h4>
    </div>
    <br>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body">

          <div>
            <strong>So Softly You Leave</strong>
          <p><audio src="/music/So Softly You Leave.mp3" preload="auto" width="50" /></p>
        </div>

      </div>
      </div>
    </div>
  </div>

  <script src="/audiojs/audio.min.js"></script>

<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>

