<div class="row">
  <div class="span12">
    <div class="span3">
      <div id="myCarousel" class="carousel">
        <div class="carousel-inner">
            <div class="item"><%= image_tag("Valann1.jpeg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("valann7.jpeg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("valann10.jpeg", class: "img-rounded") %></div>
            <div class="item active"><%= image_tag("valann11.jpeg", class: "img-rounded") %></div>

          </div>

          <script type="text/javascript">
            $(document).ready(function() {
              $('.carousel').carousel({
                interval:4000
              });
            });
          </script>

          <div>
        </div>
      </div>
    </div>

    <div>
      <div class ="span5" class="panel-group" id="accordion">
        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <h4><i class="icon-book icon-2x"></i> - Biography</h4>
              </a>
            </h4>
           </div>
         </br>
          <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <br>
        <p><font size="20">V</font>alann, originating from Farnham, Surrey in the United Kingdom, emigrated to Canada several years ago.</p>

        <p>Her love for music was born in her early years. Classically piano trained from the age of seven, she continued to develop her musical style.</p>

        <p>Most recently under the guidance of David Bower, song writer and vocal coach, Valann is becoming an exciting new artist on the music scene.</p>

        <p>This beautiful 22 year old has a truly remarkable sound, both haunting and edgy, highlighting the diversity of this extremely talented artist.</p>
      </div>
    </div>
  </div>
</div>
</div>
  <div class ="span3" class="panel-group" id="accordion">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <h4><i class="icon-bullseye icon-2x"></i> - Discography</h4>
        </a>
      </h4>
    </div>
    <br>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body">
        <div>
            <strong>You've Seen It All Before</strong>
          <p><audio src="/music/You've Seen It All Before.mp3" preload="auto" width="50" /></p>
        </div>
        <div>
            <strong>McKinley Kee (Work In Progress)</strong>
          <p><audio src="/music/McKinley Kee.mp3" preload="auto" width="50" /></p>
        </div>
        <div>
            <strong>Time Bomb</strong>
          <p><audio src="/music/Time Bomb.mp3" preload="auto" width="50" /></p>
        </div>

          <div>
            <strong>So Softly You Leave</strong>
          <p><audio src="/music/So Softly You Leave.mp3" preload="auto" width="50" /></p>
        </div>
        <div>
            <strong>Remember</strong>
          <p><audio src="/music/Remember.mp3" preload="auto" width="50" /></p>
        </div>

      </div>
      </div>
    </div>
  </div>
  <br>
<br>
<p class="footer"><strong>Original songs never released and available</strong></p>

  <script src="/audiojs/audio.min.js"></script>

<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>

