</table><table width="100%" border="0" cellpadding="0" cellspacing="0">
<!--DWLayoutTable-->
<tr>
          <td width="900" height="427" valign="top" class="navText">
            <blockquote>
              <p align="left"><br />
                <u><span class="calendarText">Covering all aspects of Performance</span></u><br /><br />
                Vocal Coaching<br />
                <br />
                Song Writing   Structure<br />
                <br />
                Melodies, Lyrics and Arrangement<br />
                <br />
                Pro Tools Engineering   &amp; Production<br />
                <br />
                Live and Midi<br />
                </p>
            </blockquote></td>
        </tr>




      </table></td>
