<div class="row">
    <div class="span12">
        <div class="span5">
            <p class="span5">For further details please contact David Bower.</p>
            <br>
            <br>
            <br>
            <ul>
            <li>Covering all aspects of performance</li>
            <li>Vocal Coaching</li>
            <li>Song Writing/Structure</li>
            <li>Melodies, lyrics and arrangements</li>
            <li>Pro Tools engineering/Production</li>
            <li>Live and Midi</li>
        </ul>
    </div>
        <div class="span6">
            <br>
            <br>
            <br>
            <%= image_tag("Studio_view.jpeg", class: "img-rounded") %>
        </div>
    </div>
</div>

