/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fancybox
 *= require_tree .
 */

@import "bootstrap";




body {
  padding: 0;
  margin: 0;
  background: #000000 url(main-bg.jpg) no-repeat center top;
  width: 100%;
  display: table;
  background-image: url(images/main-bg.jpg);
  }


a:link {
  color: #EEC859;
  text-decoration: none;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}
a:visited {
  text-decoration: none;
  font-weight: normal;
  color: #EEC859;
}
a:hover {
  text-decoration: none;
  color: #E32604;
}
a:active {
  text-decoration: none;
}
a {
  font-family: Arial, Helvetica, sans-serif;
}

@charset "utf-8";
.belle {
  background-color: #000000;
}
/* Global Styles */

body {
  padding: 0;
  margin: 0;
  background: #000000;
  width: 100%;
  display: table;
}
.redborder
{
  border-color: #EEC859;
  border-width: 1px;
  border-style: solid;
}

#padding {
  padding:20px 5px 20px 5px;
  }
  




.audiojs .scrubber {
    background: none repeat scroll 0 0 #5A5A5A;
    border-bottom: 0 none;
    border-left: 0 none;
    border-top: 1px solid #3F3F3F;
    float: left;
    height: 14px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    width: 80px; /* smaller width */
}

.audiojs .time {
    border-left: 1px solid #000000;
    color: #DDDDDD;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0; /* no margin */
    padding: 0 6px 0 9px; /* 2px smaller left padding */
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  
    
}

.audiojs {
    font-family: monospace;
    font-size: 10px; /* reduced font size */
    width: 230px;
    height: 35px;
}





